services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    ports:
      - "9870:9870"   # Web UI
      - "9000:9000"   # HDFS port
    environment:
      - CLUSTER_NAME=test-cluster
    volumes:
      - namenode-data:/hadoop/dfs/name
    networks:
      - hadoop

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    environment:
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
      - CLUSTER_NAME=test-cluster
    volumes:
      - datanode-data:/hadoop/dfs/data
    depends_on:
      - namenode
    networks:
      - hadoop

  spark-master:
    image: bde2020/spark-master:3.0.0-hadoop3.2
    container_name: spark-master
    ports:
      - "8080:8080"   # Spark Web UI
      - "7077:7077"   # Spark Master port
    environment:
      - INIT_DAEMON_STEP=setup_spark
    networks:
      - hadoop
    depends_on:
      - namenode

  spark-worker:
    image: bde2020/spark-worker:3.0.0-hadoop3.2
    container_name: spark-worker
    environment:
      - SPARK_MASTER=spark://spark-master:7077
      - CORE_CONF_fs_defaultFS=hdfs://namenode:9000
    depends_on:
      - spark-master
      - namenode
    networks:
      - hadoop

  python-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: python-app
    depends_on:
      - namenode
      - spark-master
    networks:
      - hadoop
    environment:
      - HDFS_URL=http://namenode:9870
      - HDFS_USER=root
      - SPARK_MASTER=spark://spark-master:7077

volumes:
  namenode-data:
  datanode-data:

networks:
  hadoop:
    driver: bridge
